@{
    Layout = null;
}

<div id="react-app" asp-prerender-module="wwwwebroot/Source/App.tsx">Loading...</div>
<!-- <script src='https://cdn.rawgit.com/mozilla/pdfjs-dist/master/build/pdf.js'></script> -->
<script src='~/lib/jquery/dist/jquery.js'></script>
<script src="~/dist/bundle.js" asp-append-version="true"></script>