body
  font-family: sans-serif
  padding: 0
  margin: 0
  font-size: 1vw

.Link
  color: white
  text-decoration: none


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    display: none
    -webkit-appearance: none
    margin: 0


//Custom Colors
$main-color: rgb(53, 62, 84)
$main-color-light: rgb(81, 95, 130)
$head-foot-color: rgb(26, 188, 156)
$head-foot-color: rgb(41, 144, 214)
$head-foot-color: rgb(35, 118, 175)
// $head-foot-color: rgb(53, 62, 84)
// $head-foot-color: #a6360c
$button-color: rgb(41, 144, 214)
// $button-color: rgb(26, 188, 156)
$main-back: rgb(247, 250, 255)
