@import ../../../style

.Home
  overflow: hidden
  height: 100vh
  background-color: $main-back
  position: relative

#documents-container
  padding-bottom: 5vh
  width: 90vw
  margin-left: 10vw
  @media screen and (max-width: 600px)
    width: 85vw
    margin-left: 15vw
  @media screen and (min-width: 1000px)
    width: 95vw
    margin-left: 5vw

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
