@import ../../../style

.Home
  padding-top: 7.5vh
  overflow: hidden
  height: 92.5vh
  background-color: $main-back

.documents-container
  padding-bottom: 5vh
  background-color: $main-back
  width: 90vw
  margin-left: 10vw
