@import ../../../style

.MetaBar
  position: absolute
  left: 0
  top: 10vh
  width: 15vw
  height: 90vh
  background-color: $metabar-color
  border-right: solid 2px rgba(0, 0, 0, 0.1)

.metabar-link
  height: auto
  padding: 5% 0 5% 0
  margin-bottom: 0.5vh
  width: 100%
  color: white
  text-indent: 10%
  align-items: center
  font-size: 1.15em
  cursor: pointer

.metabar-link:hover
  background-color: #304051

.document-list-links-container
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  font-size: 1.1em

.document-link
  color: rgb(220, 220, 220)
  text-decoration: none
  padding: 2.5% 0 2.5% 0
  width: 100%
  text-indent: 20%
  cursor: pointer

.document-link:hover
  background-color: #304051
