@import ../../../style
    
#NewDocument
    width: 85%
    height: 90vh
    overflow: auto
    margin-left: 15%
    background-color: $main-back

#notice
    border: none
    text-align: center

.create-document-button
    position: absolute
    font-size: 1.5em
    padding: 0.25em 0.75em 0.25em 0.75em
    background-color: $button-color
    cursor: pointer

#create-document-next-button
    bottom: 2vh
    right: 2vw

#create-document-back-button
    bottom: 2vh
    left: 2vw