@import ../../../style


#CreateDocument
    width: 100%
    height: 100vh

#create-document-nav-bar
    width: 100%
    height: 7.5vh
    background-color: rgb(75, 75, 75)
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start

.create-document-nav-bar-item
    width: auto
    height: 100%
    padding: 0% 2% 0% 2%
    font-size: 2em
    color: white
    cursor: pointer
    display: flex
    align-items: center
    border-right: solid 1px rgba(255, 255, 255, 0.4)

.create-document-nav-bar-item:hover
    background-color: rgb(50, 50, 50)

#create-document-nav-bar-item-document
    border-left: solid 1px rgba(255, 255, 255, 0.4)

.container
    width: 100%
    height: 92.5%
    overflow: hidden
    position: relative


#document-view-container
    width: 100%
    height: auto
    overflow: hidden

input:focus
  outline: none

#document-view-header
  width: 100%
  height: 5vh
  right: 0
  position: absolute
  top: 0vh
  z-index: 400
  background-color: rgba(50, 50, 50, 0.8)
  display: grid
  grid-template-columns: 2fr 3fr 2fr
  padding-top: 2.5vh
  padding-bottom: 2.5vh
  grid-column-gap: 2vw

#documents-view-header-button-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    

#document-view-no-document-warning
  position: sticky
  top: 30vh
  width: auto
  height: auto
  padding: 1vh 1vw 1vh 1vw
  background-color: lightgrey
  z-index: 600
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  font-size: 3em
  border: solid 1px grey
  font-weight: bold

#document-name-input
  font-size: 1.75em
  padding: 1%
  background-color: rgba(230, 230, 230, 1)
  min-width: 40%
  font-weight: bold
  text-align: center

#document-view-sidebar
    width: 20vw
    height: 100%
    position: absolute
    right: -20vw
    top: 0
    background-color: rgb(230, 230, 230)
    background-color: white
    border-left: solid 2px grey
    z-index: 600
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1)

.selected-field-display-container
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.selected-field-display-container > *
    cursor: pointer !important
    

#show-sidebar-icon-container
    position: absolute
    right: 2vw
    top: 12vh
    background-color: rgb(175, 175, 175)
    border-radius: 5px
    z-index: 500
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1vw 1.5vw 1vw 1.5vw
    animation: shrink 0.3s forwards

#show-sidebar-icon-container:hover
    animation: grow 0.3s forwards

#show-sidebar-icon
    width: auto
    height: 35px

.show-sidebar
    animation: show-sidebar 0.5s forwards   

.hide-sidebar
    animation: hide-sidebar 0.5s forwards

#close-sidebar-icon
    font-size: 4em
    color: grey
    font-weight: bold
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    top: 1vh
    right: 1vw
    z-index: 600
    cursor: pointer

#close-sidebar-icon:hover
    color: black

.added-users-container-preview
    width: 100%
    overflow: auto
    max-height: 75%

.preview-documents-header
    color: black
    font-size: 2.5em
    padding: 2.5vh 0 2.5vh 0
    font-weight: 400
    cursor: default
    margin-left: 1vw

@keyframes show-sidebar
    0%
        right: -20vw
    100%
        right: 0

@keyframes hide-sidebar
    0%
        right: 0
    100%
        right: -20vw

@keyframes grow
    0%
        transform: scale(1)
    100%
        transform: scale(1.05)

@keyframes shrink
    0%
        transform: scale(1.05)
    100%
        transform: scale(1)

@keyframes hide
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes show
    0%
        opacity: 0
    100%
        opacity: 1
                
