.DocumentView
  width: 85%
  margin-left: 15%
  height: 90vh
  overflow: auto

#document-form-div
  padding: 2.5%
  // display: flex
  // flex-direction: row
  // align-items: flex-start
  // justify-content: flex-start
  // max-width: 100vw

.document-form
  float: left
  margin: 1%
  margin-left: 1.5%
  padding: 20px

.input-form-name
  font-size: 1.3em
  text-indent: -5px

.document-input
  padding: 3%
  font-size: 1em

.document-input:focus
  outline: none

.pdf-viewer
  margin-bottom: 5vh
  margin-top: 5vh
  margin-left: 22.5%

.document
  background-color: white
  width: 595px
  max-width: 70%
  height: 842px
  margin-top: 50px
  margin-bottom: 50px
  margin-left: calc((100vw - 15vw - 595px)/2)
  float: left
