.DocumentView
  width: 100%
  height: 100%
  overflow: auto
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.pdf-image
  position: absolute
  left: calc((100% - 612px) / 2)
  top: 12.5vh
  width: 612px !important
  height: 792px !important
  margin-bottom: 6vh

#document-form-div
  position: relative
  width: 612px
  height: 712px !important
  top: 12.5vh
  left: 0

.document-checkbox
  width: 100% !important
  height: 100% !important
  background-color: lightgrey !important
  border: none
  margin: 0

.document-form
  overflow: auto

.input-form-name
  font-size: 1.3em
  text-indent: -5px

.document-input
  background-color: lightgrey
  border: none

.document-input:focus
  outline: none

.document-signature-canvas
  position: relative

.canvas-button
  position: absolute
  font-size: 1em
  padding: 0.5% 1% 0.5% 1%
  background-color: lightblue
  cursor: pointer
  border: solid 1px rgb(139, 178, 229)
  height: auto

.document
  background-color: white
  width: 595px
  max-width: 70%
  height: 842px
  margin-top: 50px
  margin-bottom: 50px
  margin-left: calc((100vw - 15vw - 595px)/2)
  float: left


//Animations
@keyframes fade-in-header
  0%
    background-color: rgba(0, 0, 0, 0)
  100%
    background-color: rgba(50, 50, 50, 0.8)

@keyframes fade-out-header
  0%
    background-color: rgba(50, 50, 50, 0.8)
  100%
    background-color: rgba(0, 0, 0, 0)

@keyframes fade-in-save-button
  0%
    opacity: 0.5
  100%
    opacity: 1

@keyframes fade-out-save-button
  0%
    opacity: 1
  100%
    opacity: 0.5

@keyframes fade-in-name-input
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out-name-input
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes name-input-selected
  0%
    opacity: 1
  100%
    opacity: 1

@keyframes header-selected
  0%
    background-color: rgba(50, 50, 50, 0.8)
  100%
    background-color: rgba(50, 50, 50, 0.8)

        