@import ../../../style


.ToolBar
    width: 5vw
    height: 5vw
    border-radius: 100px
    background-color: rgb(88, 164, 239)
    position: fixed
    bottom: 1vw
    right: 3vw
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer

.Toolbar:hover > .toolkit-arrow-right
    animation: animate-toolbar-right-arrow-hover-over 0.2s forwards

.Toolbar:hover > .toolkit-arrow-left
    animation: animate-toolbar-left-arrow-hover-over 0.2s forwards

.toolkit-arrow
    width: 30%
    height: auto
    position: absolute
    top: auto
    left: auto

.toolkit-arrow-left
    animation: animate-toolbar-left-arrow-hover-out 0.2s forwards

.toolkit-arrow-right
    animation: animate-toolbar-right-arrow-hover-out 0.2s forwards

.tolkit-image
    width: 50%
    height: 50%

.tools-container
    width: 100%
    height: auto
    bottom: 9vh
    display: none
    flex-direction: column
    align-items: center
    position: absolute
    opacity: 0

.toolbar-tool
    width: 4vw
    height: 4vw
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: white
    border-radius: 100px
    animation: shrink-toolbelt 0.25s forwards
    margin-bottom: 3vh
    position: relative

.toolbar-delete
    color: white
    font-size: 3.5em
    background-color: rgb(255, 153, 153)

.toolbar-tool > div
    animation: grow-toolbelt 0.25s forwards

.toolbar-tool:hover
    animation: grow-toolbelt 0.25s forwards

.toolbar-tool:hover > div
    animation: shrink-toolbelt 0.25s forwards


.toolbar-tool-image
    width: 50%
    height: auto

.toolbar-info-box
    width: 250%
    height: auto
    padding: 1em
    position: absolute
    right: 150%
    top: auto
    font-size: 2em

.toolbar-info-box-ready
    background-color: rgb(229, 255, 221)

.toolbar-info-box-not-ready
    background-color: rgb(255, 221, 221)


.toolbar-info-box-triangle
    width: 0
    height: 0
    border-top: 0.75vw solid transparent
    border-bottom: 0.75vw solid transparent
    position: absolute
    top: calc((100% - 1.5vw) / 2)
    right: -0.75vw

.toolbar-info-box-triangle-ready
    border-left: 0.75vw solid rgb(229, 255, 221)

.toolbar-info-box-triangle-not-ready
    border-left: 0.75vw solid rgb(255, 221, 221)


.tool-bar-info-fade-away
    animation: fade-away-toolbelt 0.5s forwards !important

@keyframes grow-toolbelt
    0%
        transform: scale(1.0) translateY(0)
    100%
        transform: scale(1.1) translateY(-0.5vh)


@keyframes shrink-toolbelt
    0%
        transform: scale(1.1) translateY(-0.5vh)
    100%
        transform: scale(1.0) translateY(0)

@keyframes fade-away-toolbelt
    0%
        opacity: 1
        transform: scale(1.1) translateY(-0.5vh)
    99%
        opacity: 0
        transform: scale(1.1) translateY(-0.5vh)
        width: 250%
    100%
        width: 0
        opacity: 0
        transform: scale(1.1) translateY(-0.5vh)


@keyframes toolbar-container-opening
    0%
        opacity: 0
        transform: translateY(20vh)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes toolbar-container-closing
    0%
        opacity: 1
        transform: translateY(0)
    50%
        opacity: 0
    100%
        opacity: 0
        transform: translateY(35vh)

@keyframes animate-toolbar-left-arrow-opening
    0%
        transform: rotate(180deg) translateX(-50%)
    100%
        transform: rotate(180deg) translateX(35%)

@keyframes animate-toolbar-right-arrow-opening
    0%
        transform: translateX(-50%)
    100%
        transform: translateX(35%)

@keyframes animate-toolbar-left-arrow-closing
    0%
        transform: rotate(180deg) translateX(35%)
    100%
        transform: rotate(180deg) translateX(-50%)

@keyframes animate-toolbar-right-arrow-closing
    0%
        transform: translateX(35%)
    100%
        transform: translateX(-50%)

@keyframes animate-toolbar-left-arrow-hover-over
    0%
        transform: rotate(180deg) translateX(35%)
    100%
        transform: rotate(180deg) translateX(50%)

@keyframes animate-toolbar-right-arrow-hover-over
    0%
        transform: translateX(35%)
    100%
        transform: translateX(50%)

@keyframes animate-toolbar-left-arrow-hover-out
    0%
        transform: rotate(180deg) translateX(50%)
    100%
        transform: rotate(180deg) translateX(35%)

@keyframes animate-toolbar-right-arrow-hover-out
    0%
        transform: translateX(50%)
    100%
        transform: translateX(35%)