@import ../../../style

#HomeHeader
  width: 90vw
  left: 10vw
  height: 0vh
  background-color: rgba(38, 107, 168, 1)
  backgrojnd-color: $metabar-color
  display: flex
  flex-direction: row
  align-items: flex-end
  justify-content: flex-end
  position: fixed
  top: 0
  z-index: 20
  color: rgb(240, 240, 240)
  font-size: 1.5em

.show-full-header
  width: 100vw !important
  left: 0 !important
  height: 7.5vh !important

.header-tab
  cursor: default
  height: auto
  width: auto
  padding: 1vh 1vw 1vh 1vw
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  border: solid 1px grey
  background-color: lightgrey
  cursor: pointer
  margin-bottom: 1vh
  margin-right: 1vw
  color: black
  font-size: 1.4em

.header-link
  display: flex
  flex-direction: row
  align-items: flex-end
  justify-content: center
  cursor: pointer
  text-align: center

.home-tab
  position: absolute
  left: 0
  border-left: none
  font-size: 2em
  padding: none
  width: auto
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: flex-end

#header-logo
  padding-left: 1.25vw
  padding-right: 2.75vw
  width: auto
  height: 100%

.log-in-tab
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  // height: 100%
  // font-size: 0.75em
  // padding-bottom: 0

#logoff-icon
  width: auto
  height: 70%
  cursor: pointer
